/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
}

body {
    color: #ffc500;
    background-color: #db0024;
    line-height: 50px;
    text-align: left;
}

h1 {
    font-family: Georgia;
    font-size: 100px;
    color: #ffc500;
}

h2 {
    font-family: Lato;
    color: #000000;
}

p {
  font-family: Lato;
  color: #ffffff;
}

.bio {
    position:absolute;
    font-size: 100px;
    z-index:1;
}

.imageholder {
    position: relative;
    z-index:-1;
}

.discography {
    font-size: 50px;
    color: #ffc500;
    position: absolute;
    top: 60%;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


img {
    width: 85%;
    opacity: 0.25;
    position: absolute;
    left: 5px;
    top: 50%;
}

a:link {
  color: #000000;
  }
a:visited {
  color: #ffffff;
  }
a:hover {
  color: #ff3300;
  }


#highlight1 {
    color: #ff3900;
}
#highlight2 {
    color: #9900ff;
}
#highlight3 {
    color: #610044;
}
#highlight4 {
    color: #9f0037;
}
