body {
  font-family: Georgia;
  color: #ffdd11;
  background-color: #dd0000;
  line-height: 50px;
  text-align: left;
}

h1 {
  font-size: 120px;
  font-family: Georgia;
  color: #ffdd00;
}

.bio {
  font-size: 100px;
  font-family: Georgia;
}

img {
  width: 50%;
  opacity: 0.25;
  position: absolute;
  left: 5px;
  top: 85%;
}

.discography {
  font-family: Georgia;
  font-size: 50px;
  color: #ffdd11;
  position: relative;
  top: 120%;
}

ul li {
  font-size: 40px;
  list-style-type: none;
}

#discography_box {
  position: relative;
}

#highlight1 {
  color: #ffffff;
}

.division{
width:25%;
height:100px;
float:left;
}


#highlight2 {
  color: #9900ff;
}